

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #2f3640;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}


.card-title{
    font-family: cursive;
    color: #fbc531;
}


.card-text{
    font-family: cursive;
    color: #44bd32;   
}

.card-back{
    background-color: #0a3d62;
    border-radius: 10px;
    box-shadow: 0 0  15px rgba(0, 0, 0, .5);
}